apiVersion: v1
kind: Service
metadata:
  name: anomaly-detector-service
spec:
 
  selector:
    app: anomaly-detector
    

  type: NodePort
  
  ports:
    - protocol: TCP
      port: 80        
      targetPort: 80  
      nodePort: 30007